.footer {
    text-align: center;
    padding: 20px;
    background-color: #333333;
    color: white;
    margin-top:auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer a {
    color: #FF9800;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
