.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.search_section {
  padding: 20px 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search_input {
  flex: 1;
  padding: 0 20px;
  font-size: 20px;
  background-color: transparent;
}

.search_input_div {
  background-color: white;
  border-radius: 40px;
  width: 500px;
  min-height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_result {
  background: white;
  width: 400px;
  margin-top: 10px;
  position: absolute;
  top: 70px;
}

.search_result::-webkit-scrollbar {
  display: none;
}

.search_suggestion_line,
.search_loading {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  display: block;
}

.search_suggestion_line:hover {
  background: rgb(227, 227, 227);
}

.search_suggestion_line.active {
  background: rgb(227, 227, 227);
}

.search_icon {
  background-color: rgb(227, 227, 227);
  padding: 0 25px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
